@use 'functions';
@forward 'functions';

$purplish: (
  primary: (
    1000: #000000,
    950: #160041,
    900: #22005d,
    850: #2e0077,
    800: #3a0092,
    750: #4700af,
    700: #5400cc,
    650: #611add,
    600: #6d30e9,
    500: #8653ff,
    400: #9e79ff,
    300: #b69bff,
    200: #cfbcff,
    100: #e9ddff,
    50: #f6eeff,
    20: #fdf7ff,
    10: #fffbff,
    0: #ffffff
  ),
  secondary: (
    1000: #000000,
    950: #140a2d,
    900: #1f1538,
    850: #292043,
    800: #342b4f,
    750: #40365a,
    700: #4b4167,
    650: #574c73,
    600: #635880,
    500: #7c719a,
    400: #978ab5,
    300: #b2a5d0,
    200: #cdc0ed,
    100: #e9ddff,
    50: #f6eeff,
    20: #fdf7ff,
    10: #fffbff,
    0: #ffffff
  ),
  tertiary: (
    1000: #000000,
    950: #200034,
    900: #30004a,
    850: #3f0060,
    800: #4f0077,
    750: #5f008e,
    700: #7000a6,
    650: #8200bf,
    600: #930bd6,
    500: #ae3af1,
    400: #c564ff,
    300: #d68eff,
    200: #e6b4ff,
    100: #f5d9ff,
    50: #fcebff,
    20: #fff7fc,
    10: #fffbff,
    0: #ffffff
  ),
  neutral: (
    1000: #000000,
    950: #121014,
    900: #1c1b1e,
    850: #272529,
    800: #313033,
    750: #3d3b3e,
    700: #48464a,
    650: #545156,
    600: #605d62,
    500: #79767a,
    400: #938f94,
    300: #aeaaae,
    200: #cac5ca,
    100: #e6e1e6,
    50: #f4eff4,
    20: #fdf8fd,
    10: #fffbff,
    0: #ffffff
  ),
  neutral-variant: (
    1000: #000000,
    950: #121017,
    900: #1d1a22,
    850: #27242d,
    800: #322f38,
    750: #3d3a43,
    700: #49454e,
    650: #54515a,
    600: #615d66,
    500: #7a757f,
    400: #948f99,
    300: #afa9b4,
    200: #cac4cf,
    100: #e7e0eb,
    50: #f5eefa,
    20: #fdf7ff,
    10: #fffbff,
    0: #ffffff
  )
);

@function main_theme_color($color, $shade) {
  @return functions.theme_color($purplish, $color, $shade);
}
