$regularFont:
  'Inter Variable',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue';

$monospaceFont: 'JetBrains Mono Variable', monospace;

.text-vertical {
  &:not(.p-button),
  &.p-button > .p-button-label {
    writing-mode: vertical-lr;
  }

  &.p-button:has(.p-button-label) {
    padding: 1rem 0.5rem;
    flex-direction: column;

    .p-button-icon {
      writing-mode: horizontal-tb;
    }
  }
}

.text-monospace {
  font-family: $monospaceFont;
}

.p-button.button-fill-width {
  justify-content: start;
  width: 100%;
}
